.container-fluid {
	height: 700px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#control-unit {
	height: 175px;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 75px;
	background-color: #586A8C;
}

.demo-area {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
}

#options {
	margin-top: 15px;
}

#options ul {
	list-style-type: none;
}

#options li {
	display: inline-block;
}

#the-div {
	position: relative;
	height: 250px;
	width: 250px;
	border-radius: 100%;
	/*border: 1px solid black;*/
	margin-right: auto;
	margin-left: auto;
	background-color: #F22233;
}

.btn {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
