.container-fluid {
	height: 700px;
	width: 100%;
}

.workspace {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
}

#control-unit {
	height: 200px;
	width: 100%;
	padding: 10px;
	background-color: #586A8C;
}

#options {
	margin-top: 15px;
}

#options ul {
	list-style-type: none;
}

#options li {
	display: inline-block;
}

#the-div {
	padding: 5px;
	margin-top: 25px;
	height: 250px;
	width: 250px;
	border: 1px solid black;
	margin-right: auto;
	margin-left: auto;
	background-color: blue;
}

.btn {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
